@import "tailwindcss";
@plugin 'daisyui';
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #303030;
  --color-secondary: #acc857;
  --color-bold: #0b0b0b;
  --color-link: #606060;
  --color-side: #dadada;
  --color-head: #03373d;
}
